parameters:
	ignoreErrors:
		-
			message: '#^Offset ''guid'' on array\{type\: string\|null, guid\: string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 2
			path: src/Playwright/Element.php

		-
			message: '#^Cannot access offset ''guid'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Cannot access offset ''method'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Cannot access offset ''params'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Method Pest\\Browser\\Playwright\\Frame\:\:hover\(\) has parameter \$modifiers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Method Pest\\Browser\\Playwright\\Frame\:\:hover\(\) has parameter \$position with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Parameter \#1 \$guid of class Pest\\Browser\\Playwright\\Element constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Playwright/Frame.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Playwright/Locator.php

		-
			message: '#^Offset ''guid'' on array\{type\: string\|null, guid\: string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Playwright/Locator.php

		-
			message: '#^Offset ''params'' on non\-empty\-array\<string, mixed\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Playwright/Locator.php

		-
			message: '#^Offset ''type'' on non\-empty\-array in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Playwright/Locator.php

		-
			message: '#^Method Pest\\Browser\\Playwright\\Page\:\:hover\(\) has parameter \$modifiers with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Playwright/Page.php

		-
			message: '#^Method Pest\\Browser\\Playwright\\Page\:\:hover\(\) has parameter \$position with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Playwright/Page.php
